.boton, .boton-secundario {
  background-color: #B44653;
  color: #fff;
  border: 0;
  border-radius: 5px;
}

.boton-secundario {
  width: 100px;
  height: 40px;
  background-color: #B44653;
  color: #fff;
  border: 0;
  border-radius: 5px;
}

body {
  background-image: url(../img/Background-01.jpg);
  font-family: 'Playfair Display', serif;
}

.contenedor-general {
  display: -ms-grid;
  display: grid;
  gap: 10px;
      grid-template-areas: "header header header" "aside aside aside" "main main main" "sec sec sec" "footer footer footer";
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 300px 200px 300px;
      grid-template-rows: 300px 200px 300px;
}

.encabezado-home {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: header;
  background-image: url(../img/vitrina-home.jpg);
  background-size: cover;
  position: relative;
}

.encabezado-home::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.4);
  position: absolute;
}

@media (min-width: 320px) {
  .encabezado-home {
    width: 100%;
    background-position: top;
  }
}

.contenido-home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  padding: 10px;
  z-index: 1;
  -webkit-animation-name: movlog;
          animation-name: movlog;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

@-webkit-keyframes movlog {
  0% {
    -webkit-transform: translate(25px, 0px);
            transform: translate(25px, 0px);
  }
}

@keyframes movlog {
  0% {
    -webkit-transform: translate(25px, 0px);
            transform: translate(25px, 0px);
  }
}

.navbar {
  margin-left: auto;
  padding: 10px;
  z-index: 1;
}

.navbar {
  background-color: transparent !important;
}

ul {
  list-style-type: none;
  text-align: right;
}

@media (min-width: 768px) {
  .navbar ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.navbar ul li {
  padding: 0 5px;
}

@media (min-width: 320px) {
  .navbar a {
    text-decoration: underline;
    color: #B44653;
  }
}

@media (min-width: 768px) {
  .navbar a {
    color: #B44653;
  }
}

.texto-home {
  position: absolute;
  padding: 10px;
  top: 200px;
}

@media (min-width: 320px) {
  .texto-home h1 {
    font-size: 15px;
  }
}

@media (min-width: 480px) {
  .texto-home h1 {
    font-size: 20px;
  }
}

@media (min-width: 1024px) {
  .texto-home h1 {
    font-size: 25px;
  }
}

.contenido-nosotros .info-nosotros h2 {
  color: #B44653;
  font-size: 3vw;
  white-space: nowrap;
}

.contenido-nosotros .info-nosotros h3 {
  color: #6D6D6D;
  font-size: 15px;
}

.contenido-primario-nosotros {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: aside;
}

.texto-nosotros {
  padding: 0 50px;
}

.texto-nosotros .h2 {
  color: #B44653;
  font-size: 30px;
}

.texto-nosotros .h3 {
  color: #6D6D6D;
  font-size: 20px;
}

.titulo-nosotros {
  font-size: 30px;
  color: #B44653;
  text-align: center;
}

.texto-contenido {
  font-size: 15px;
  color: #6D6D6D;
  text-align: center;
}

.video-responsive {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 320px) {
  .nosotros-texto {
    padding: 0 10px;
  }
}

@media (min-width: 600px) {
  .nosotros-texto h2 {
    font-size: 15px;
  }
}

@media (min-width: 320px) {
  .nosotros-texto h3 {
    font-size: 10px;
    color: #6D6D6D;
  }
}

@media (min-width: 600px) {
  .nosotros-texto h3 {
    font-size: 15px;
    color: #6D6D6D;
  }
}

.contenido-productos {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: main;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 320px) {
  .contenido-productos {
    display: inherit;
    margin-top: 80px;
  }
}

@media (min-width: 480px) {
  .contenido-productos {
    margin-top: 10px;
  }
}

@media (min-width: 600px) {
  .contenido-productos {
    margin-top: 112px;
  }
}

@media (min-width: 768px) {
  .contenido-productos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.contenedor-productos {
  margin: 10px;
}

.contenedor-productos .titulos-productos {
  color: #B44653;
  font-size: 30px;
}

.contenedor-productos .nombre-torta {
  font-size: 20px;
  color: #6D6D6D;
}

.contenedor-productos .boton, .contenedor-productos .boton-secundario {
  background-color: #B44653;
  color: #fff;
  border: 0;
  border-radius: 5px;
  width: 100px;
  height: 40px;
  background-color: #B44653;
  color: #fff;
  border: 0;
  border-radius: 5px;
}

.locales {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: sec;
}

@media (min-width: 320px) {
  .locales {
    margin-top: 31px;
  }
}

@media (min-width: 480px) {
  .locales {
    margin-top: 143px;
  }
}

@media (min-width: 600px) {
  .locales {
    margin-top: 228px;
  }
}

@media (min-width: 768px) {
  .locales {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 103px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (min-width: 768px) {
  .local {
    padding: 10px;
  }
}

.local img {
  width: 100%;
}

.texto-local {
  background-color: #f0f0f0;
  padding: 20px;
}

.local p {
  line-height: 50px;
  color: #6D6D6D;
}

@media (min-width: 320px) {
  .local p {
    font-size: 10px;
    line-height: 20px;
  }
}

@media (min-width: 600px) {
  .local p {
    font-size: 15px;
    line-height: 30px;
  }
}

.local h3 {
  text-decoration: underline;
  color: #B44653;
  margin-bottom: 10px;
}

@media (min-width: 320px) {
  .local h3 {
    font-size: 15px;
  }
}

@media (min-width: 600px) {
  .local h3 {
    font-size: 20px;
  }
}

.form__fp {
  padding: 40px;
}

.form__fp .form__fp--casillas .btn {
  background-color: #B44653;
  border: 0;
}

.acordeon-preguntas .accordion .accordion-item {
  border: white;
  padding: 10px;
}

.acordeon-preguntas .accordion .accordion-item .accordion-button {
  background-color: #d0b6ba;
  color: white;
}

.pie-pagina {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: footer;
  margin-top: 10px;
}

.pie-pagina p {
  text-align: center;
}
/*# sourceMappingURL=estilos.css.map */