.boton, .boton-secundario {
  background-color: #B44653;
  color: #fff;
  border: 0;
  border-radius: 5px;
}

.boton-secundario {
  width: 100px;
  height: 40px;
  background-color: #B44653;
  color: #fff;
  border: 0;
  border-radius: 5px;
}

/*HOME*/
html {
  height: 100%;
}

body {
  background-image: url(../img/Background-01.jpg);
  font-family: 'Playfair Display', serif;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}

.contenedor-general {
  display: -ms-grid;
  display: grid;
  gap: 10px;
      grid-template-areas: "header header header" "aside aside aside" "main main main" "sec sec sec" "footer footer footer";
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 300px 200px 300px;
      grid-template-rows: 300px 200px 300px;
}

.encabezado-home {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: header;
  background-image: url(../img/vitrina-home.jpg);
  background-size: cover;
  position: relative;
  width: 100%;
  background-position: top;
}

.encabezado-home::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.4);
  position: absolute;
}

.contenido-home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  padding: 10px;
  z-index: 1;
  -webkit-animation-name: movlog;
          animation-name: movlog;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

@-webkit-keyframes movlog {
  0% {
    -webkit-transform: translate(25px, 0px);
            transform: translate(25px, 0px);
  }
}

@keyframes movlog {
  0% {
    -webkit-transform: translate(25px, 0px);
            transform: translate(25px, 0px);
  }
}

.navbar {
  margin-left: auto;
  padding: 10px;
  z-index: 1;
  background-color: transparent !important;
}

ul {
  list-style-type: none;
  text-align: right;
}

@media (min-width: 768px) {
  .navbar ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.navbar ul li {
  padding: 0 5px;
}

@media (min-width: 320px) {
  .navbar a {
    text-decoration: underline;
    color: #B44653;
  }
}

@media (min-width: 768px) {
  .navbar a {
    color: #B44653;
  }
}

.texto-home {
  position: absolute;
  padding: 10px;
  top: 200px;
}

@media (min-width: 991px) {
  .texto-home {
    left: 10px;
  }
}

.texto-home h1 {
  font-size: 20px;
}

@media (min-width: 480px) {
  .texto-home h1 {
    font-size: 20px;
  }
}

@media (min-width: 1024px) {
  .texto-home h1 {
    font-size: 25px;
  }
}

.contenido-pasteleria .contenido-pasteleria-info .titulo-bienvenidos {
  font-size: 30px;
  color: #B44653;
  text-align: center;
  padding: 10px 20px;
}

.contenido-pasteleria .contenido-pasteleria-info .subtitulo-bienvenidos {
  font-size: 15px;
  color: #6D6D6D;
  text-align: center;
  padding: 10px 20px;
}

.contenido-pasteleria .contenido-pasteleria-info img {
  margin-left: 16px;
}

@media (min-width: 768px) {
  .contenido-pasteleria-info {
    margin-left: 64px;
  }
}

@media (min-width: 991px) {
  .contenido-pasteleria-info {
    margin-left: 185px;
  }
}

@media (min-width: 1024px) {
  .contenido-pasteleria-info {
    margin-left: 5px;
  }
}

@media (min-width: 1024px) {
  .contenido-pasteleria {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.locales {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: sec;
  margin-top: 1270px;
}

@media (min-width: 480px) {
  .locales {
    margin-top: 1253px;
  }
}

@media (min-width: 600px) {
  .locales {
    margin-top: 1248px;
  }
}

@media (min-width: 768px) {
  .locales {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 1245px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (min-width: 1024px) {
  .locales {
    margin-top: 110px;
  }
}

@media (min-width: 768px) {
  .local {
    padding: 10px;
  }
}

.local img {
  width: 100%;
}

.texto-local {
  background-color: #f0f0f0;
  padding: 20px;
}

.local p {
  color: #6D6D6D;
  font-size: 18px;
  line-height: 20px;
}

@media (min-width: 600px) {
  .local p {
    font-size: 15px;
    line-height: 30px;
  }
}

.local h3 {
  text-decoration: underline;
  color: #B44653;
  margin-bottom: 10px;
}

@media (min-width: 320px) {
  .local h3 {
    font-size: 15px;
  }
}

@media (min-width: 600px) {
  .local h3 {
    font-size: 20px;
  }
}

.pie-pagina {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: footer;
  margin-top: auto;
}

.pie-pagina p {
  text-align: center;
  color: #6D6D6D;
}

/*NOSOTROS*/
.campo-nosotros-secundario .titulo-nosotros {
  font-size: 30px;
  color: #B44653;
  text-align: center;
}

.texto-contenido {
  font-size: 15px;
  line-height: 25px;
  color: #6D6D6D;
  text-align: center;
  padding: 0 15px;
}

.video-responsive {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 600px) {
  .nosotros-texto .nosotros-texto h2 {
    font-size: 15px;
  }
}

@media (min-width: 320px) {
  .nosotros-texto .nosotros-texto h3 {
    font-size: 15px;
    line-height: 30px;
    padding: 0 100px;
    color: #6D6D6D;
  }
}

@media (min-width: 600px) {
  .nosotros-texto .nosotros-texto h3 {
    font-size: 15px;
    color: #6D6D6D;
  }
}

/*PRODUCTOS*/
.contenedor-productos {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: main;
}

.titulos-productos {
  color: #B44653;
  font-size: 25px;
  margin-left: 20px;
}

@media (min-width: 768px) {
  .titulos-productos h2 {
    margin-left: 20px;
  }
}

.contenido-productos-detalle {
  margin-bottom: 30px;
}

.contenido-productos-detalle .nombre-torta {
  color: #6D6D6D;
  font-size: 20px;
  margin-left: 5px;
}

@media (min-width: 480px) {
  .contenido-productos-detalle {
    margin-left: 50px;
  }
}

@media (min-width: 600px) {
  .contenido-productos-detalle {
    margin-left: 110px;
  }
}

@media (min-width: 768px) {
  .contenido-productos-detalle {
    margin-right: 120px;
  }
}

@media (min-width: 768px) {
  .contenido-productos-detalle img {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .contenido-tortas, .contenido-kuchenes, .contenido-coctel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (min-width: 768px) {
  .contenido-productos-detalle img {
    width: 200%;
  }
}

@media (min-width: 1200px) {
  .contenido-productos-detalle img {
    width: 150%;
  }
}

.boton, .boton-secundario {
  background-color: #B44653;
  color: #fff;
  border: 0;
  border-radius: 5px;
  width: 100px;
  height: 40px;
  background-color: #B44653;
  color: #fff;
  border: 0;
  border-radius: 5px;
}

/*CONTACTO*/
.form__fp {
  padding: 40px;
}

.form__fp .form__fp--casillas .btn {
  background-color: #B44653;
  border: 0;
}

/*TERMINOS Y CONDICIONES*/
.acordeon-preguntas .accordion .accordion-item {
  border: white;
  padding: 10px;
}

.acordeon-preguntas .accordion .accordion-item .accordion-button {
  background-color: #dfaeb4;
  color: white;
}
/*# sourceMappingURL=estilos.css.map */